includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - src/*/Tests/*
    scanDirectories:
        - vendor-scoped
