<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheResultFile=".phpunit.cache/test-results"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         colors="true"
         executionOrder="depends,defects"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         stopOnFailure="false"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">

    <testsuites>
        <testsuite name="taxonomy">
            <directory>src/Taxonomy/Tests</directory>
        </testsuite>
        <testsuite name="post-type">
            <directory>src/PostType/Tests</directory>
        </testsuite>
        <testsuite name="blocks">
            <directory>src/Bundle/Blocks/Tests</directory>
        </testsuite>
        <testsuite name="hooks">
            <directory>src/Hooks/Tests</directory>
        </testsuite>
        <testsuite name="post-meta">
            <directory>src/PostMeta/Tests</directory>
        </testsuite>
        <testsuite name="compose">
            <directory>src/Compose/Tests</directory>
        </testsuite>
        <testsuite name="cache">
            <directory>src/Cache/Tests</directory>
        </testsuite>
        <testsuite name="seo">
            <directory>src/Bundle/Seo/Tests</directory>
        </testsuite>
        <testsuite name="admin">
            <directory>src/Bundle/Admin/Tests</directory>
        </testsuite>
        <testsuite name="assets">
            <directory>src/Assets/Tests</directory>
        </testsuite>
        <testsuite name="options">
            <directory>src/Options/Tests</directory>
        </testsuite>
        <testsuite name="plugin">
            <directory>src/Bundle/Plugin/Tests</directory>
        </testsuite>
        <testsuite name="theme">
            <directory>src/Bundle/Theme/Tests</directory>
        </testsuite>
        <testsuite name="rest-api">
            <directory>src/RestApi/Tests</directory>
        </testsuite>
        <testsuite name="security">
            <directory>src/Bundle/Security/Tests</directory>
            <directory>src/Bundle/Security/TwoFactor/Tests</directory>
        </testsuite>
        <testsuite name="performance">
            <directory>src/Bundle/Performance/Tests</directory>
        </testsuite>
        <testsuite name="queue">
            <directory>src/Queue/Tests</directory>
        </testsuite>
        <testsuite name="exception">
            <directory>src/Exception/Tests</directory>
        </testsuite>
        <testsuite name="http">
            <directory>src/Http/Tests</directory>
        </testsuite>
        <testsuite name="clock">
            <directory>src/Clock/Tests</directory>
        </testsuite>
        <testsuite name="observability">
            <directory>src/Observability/Tests</directory>
        </testsuite>
        <testsuite name="query">
            <directory>src/Query/Tests</directory>
        </testsuite>
        <testsuite name="gdpr">
            <directory>src/Bundle/Gdpr/Tests</directory>
        </testsuite>
        <testsuite name="validation">
            <directory>src/Validation/Tests</directory>
        </testsuite>
        <testsuite name="event-dispatcher">
            <directory>src/EventDispatcher/Tests</directory>
        </testsuite>
        <testsuite name="options-resolver">
            <directory>src/OptionsResolver/Tests</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory=".phpunit.cache/code-coverage">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
