<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheResultFile=".phpunit.cache/test-results"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         colors="true"
         executionOrder="depends,defects"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         stopOnFailure="false"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">

    <testsuites>
        <testsuite name="taxonomy">
            <directory>src/Taxonomy/Tests</directory>
        </testsuite>
        <testsuite name="post-type">
            <directory>src/PostType/Tests</directory>
        </testsuite>
        <testsuite name="blocks">
            <directory>src/Blocks/Tests</directory>
        </testsuite>
        <testsuite name="hooks">
            <directory>src/Hooks/Tests</directory>
        </testsuite>
        <testsuite name="post-meta">
            <directory>src/PostMeta/Tests</directory>
        </testsuite>
        <testsuite name="compose">
            <directory>src/Compose/Tests</directory>
        </testsuite>
        <testsuite name="cache">
            <directory>src/Cache/Tests</directory>
        </testsuite>
        <testsuite name="seo">
            <directory>src/Seo/Tests</directory>
        </testsuite>
        <testsuite name="admin">
            <directory>src/Admin/Tests</directory>
        </testsuite>
        <testsuite name="assets">
            <directory>src/Assets/Tests</directory>
        </testsuite>
        <testsuite name="options">
            <directory>src/Options/Tests</directory>
        </testsuite>
        <testsuite name="theme">
            <directory>src/Theme/Tests</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory=".phpunit.cache/code-coverage">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
